<nav > 
  <div class="nav-wrapper teal accent-4">
  <a class="brand-logo left"><i class="material-icons">shopping_basket</i> Pedidos</a>  
    <ul class="right hide-on-med-and-down">
      <li><a routerLink="/seguridad/identificar"><i class="material-icons">keys</i>Iniciar Sesion</a></li>
    </ul>
</div>
</nav>

  <ul id="slide-out" class="sidenav">
    <li><div class="user-view">
      <div class="background">
        <img src="assets/bg.jpg">
      </div>
      <a routerLink="/inicio"><img class="circle" src="assets/bg.jpg"></a>
      <a routerLink="/inicio"><span class="white-text name">John Doe</span></a>
      <a routerLink="/inicio"><span class="white-text email">jdandturk@gmail.com</span></a>
    </div></li>
    <li><a routerLink="/administracion/personas"><i class="material-icons">people</i>Personas</a></li>
    <li><a routerLink="/administracion/productos"><i class="material-icons">library_add</i>Productos</a></li>
    <li><div class="divider"></div></li>
    <li><a class="subheader">Subheader</a></li>
    <li><a class="waves-effect" routerLink="#!">Third Link With Waves</a></li>
  </ul>
  <a routerLink="#" data-target="slide-out" class="sidenav-trigger"><i class="material-icons">menuopen</i></a>
 

  
  <script>
    
    
  </script>